$page-color: rgba(58, 51, 53, 1);

$lightpink: rgba(255, 200, 221, 1);
$pink: rgba(255, 175, 204, 1);
$purple: rgba(205, 180, 219, 1);
$lightblue: rgba(189, 224, 254, 1);
$blue: rgba(162, 210, 255, 1);

*,
*::before,
*::after {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
}

/* <html> = the root */
html {
  font-size: 62.5%; /* (62.5/100) * 16px = 10px e.g. 1.2 * 10 = 12px : 1.2rem*/
  -webkit-text-size-adjust: none; /* for iOS Safari */
  text-size-adjust: none; /* for other mobile browsers */
  font-family: 'Noto Sans', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

a {
  /* Places underlines below the descenders */
  text-underline-position: under;
  /* Sets the thickness as a percentage of the font size */
  text-decoration-thickness: 8;
}

// :focus:not(:focus-visible) {
//   outline: none;
// }

label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox],
[type=date] {
    cursor: pointer;
}

// boilerplate ^^^

.pages {
  background-color: $page-color;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

// Defaults

img,
a,
button {
  max-height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 40rem;
  padding: 1rem;
  
  label {
    display: block;
    font-size: 2rem;
  }

  input {
    display: block;
    height: 4rem;
    width: 30rem;
    border-radius: 10px;
    border: 1px solid $lightpink;
    padding: 1rem;
    font-size: 2.2rem;
  }
}

button {
  padding: 1rem 12.2rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  background-color: $lightblue;
  border: 1px solid $lightblue;
  font-size: 2rem;
}

button:hover {
  background-color:$blue;
}

button:active {
  transform: scale(0.97);
}

// page specific styling
.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12rem;
  width: 100%;
  height: 100vh;

  .withoutNav {
    background-color: $lightblue;
    width: 100%;
    height: 12rem;
    display: flex;
    align-items: center;
  }

  .login-container {
    background-color: $lightpink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8rem;

    h5 {
      font-size: 2rem;
      
      :link {
        text-decoration: none;
        color: $purple;
      }

      :visited {
        text-decoration: none;
        color: $purple;
      }
    }
  }
}

.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem;

  .signupform {
    background-color: $lightpink;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8rem;

    label {
      font-size: 20px;
    }

    input {
      height: 4rem;
      width: 30rem;
      border-radius: 10px;
      border: 1px solid $lightpink;
      padding: 1rem;
      font-size: 2.2rem;
    }

    button {
      padding: 1rem 11rem;
      margin: 1.5rem auto;
      border-radius: 10px;
      background-color: $lightblue;
      border: 1px solid $lightblue;
      font-size: 2rem;
    }
    
    button:hover{
      background-color:$blue;
    }
  }
}

// Home page
.Navbar {
  background-color: $lightblue;
  width: 100%;
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    padding: 1rem 12.2rem;
    // margin: 1.5rem auto;
    border-radius: 10px;
    background-color: $lightpink;
    border: 1px solid $lightpink;
    font-size: 2rem;
  }
}

.ItineraryList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.ItineraryInformationDisplay {
  color: $lightblue;
  
  .ItineraryOverview {
    
  }

  .activityForm {
    label {
      color: $lightblue;
    }
  }
}

.itineraryForm {
  label {
    color: $lightblue;
  }
}

// div itineraryForm
  // label
  // input
  // ...
  // button add Itinerary

// VITE initial CSS
// #root {
//   max-width: 1280px;
//   margin: 0 auto;
//   padding: 2rem;
//   text-align: center;
// }

// .logo {
//   height: 6em;
//   padding: 1.5em;
//   will-change: filter;
//   transition: filter 300ms;
// }
// .logo:hover {
//   filter: drop-shadow(0 0 2em #646cffaa);
// }
// .logo.react:hover {
//   filter: drop-shadow(0 0 2em #61dafbaa);
// }

// @keyframes logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

// @media (prefers-reduced-motion: no-preference) {
//   a:nth-of-type(2) .logo {
//     animation: logo-spin infinite 20s linear;
//   }
// }

// .card {
//   padding: 2em;
// }

// .read-the-docs {
//   color: #888;
// }

